body{
    display: flex;
    height: 180vh;
    justify-content: center;
    align-items: center;
    padding:10px;
    
}

.container{
    max-width: 700px;
    width:100%;
    padding: 25px 30px;
    border-radius: 5px;
    
}

h3{
    text-align: center;
    border:10px;
    border-color: black;
    background-color: #f2f2f2;
    padding-top: 2px;
    padding-bottom: 5px;
}

input[type=text]{
    display:block;
    width: 190px;
    margin-bottom: opx;
    text-align:center;
    margin-left: 50px;
}

input[type=email]{
    display:block;
    width: 190px;
    margin-bottom: opx;
    text-align:center;
    margin-left:50px;
}

div{
    padding:0px 10px 0px 10px;
    
}

label{
    margin:5px 50px 5px 50px;
    }
label[for=comments]{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 0px;
}
label[for=fname], label[for=lname]{
    margin-bottom: 3px;
}

p{
    padding-left:30px; 
    
}

tbody{
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
}

  .fa-star{
    background-color:yellow;
    margin-left: 30px !important;
    }

    textarea{
        margin-left: 20px;
    }

    button{
        background-color: #f2f2f2;
        border: 10px;
        border-color: black;
        width:90px;
        margin-left: 40px;
    }
    
    /* X-Small devices (portrait phones, less than 576px) */
   @media (max-width: 575.98px) {  
      .container{
         max-width: 100%;
            width: 100%;
    } 
       input[type=text]{
           width: 100%;
      }
      input[type=email]{
        width: 100%;
      }
      button{
        width:100%;
      }
}

